body {
    width: 100vw;
    margin: auto;
    min-width: 400px;
}

.top {
    width: 100%;

    header {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-weight: lighter;
        font-family: 'EB Garamond', serif;
        background-image: linear-gradient(#2b374a, slategrey);

        h1 {
            font-size: 55px;
            font-weight: lighter;
            margin: 40px auto 10px;
        }

        hr {
            border: 0;
            height: 1px;
            width: 250px;
            margin: 10px;
            color: white;
            background: #333;
            background-image: linear-gradient(to right, slategrey, white, slategrey);
        }

        h3 {
            font-size: 25px;
            font-weight: lighter;
            margin: 10px auto 40px;
        }

        @media(max-width: 500px) {
            h1 {
                font-size: 35px;
            }

            h3 {
                font-size: 20px;
            }
        }
    }
}

.flexy {
    display: flex;
}


.center {
    display: flex;
    flex-direction: column;

    div {
        padding: 10px;
    }

    h3 {
        font-size: x-large;
    }

    h3,
    h4,
    a {
        color: darkslategrey;
        font-family: 'EB Garamond', serif;
        font-size: large;
    }

    h5,
    p,
    li {
        font-family: 'Montserrat', sans-serif;
        font-size: large;
    }

    hr {
        border: 0;
        height: 1px;
        width: 250px;
        color: white;
        background: #333;
        background-image: linear-gradient(to right, white, darkslategrey, white);
    }
}

.left {
    color: white;
    max-width: 300px;
    display: flex;
    padding: 30px 20px;
    flex-direction: column;
    background-color: #3d9e9e;

    .contact {
        padding-top: 15px;

        h3 {
            margin: 10px;
            font-size: 30px;
            font-size: xx-large;
        }
    }

    // styling for languages, systems, design, and skills classes

    div {
        padding: 10px;
    }

    h3 {
        font-size: x-large;
    }

    h3,
    h4 {
        font-family: 'EB Garamond', serif;
        font-size: large;
    }

    li,
    p,
    a {
        color: white;
        font-family: 'Montserrat', sans-serif;
        padding: 5px;
        font-size: large;
        font-weight: bold;
        list-style: none;
    }

    hr {
        border: 0;
        height: 1px;
        margin: 40px;
        width: 250px;
        color: white;
        background: #333;
        background-image: linear-gradient(to right, #3d9e9e, white, #3d9e9e);
    }
}

.left-top {
    color: white;
    background-color: #3d9e9e;
    font-size: 0.5em;

    div {
        padding: 5px;
    }

    .flexy {
        flex-direction: row;
        max-height: 50vh;
        flex-wrap: wrap;
        overflow: hidden;
        flex-shrink: 1;
        text-align: center;
        justify-content: space-around;

        .ulblock {
            display: inline-block;
        }

        ul {
            padding: 0;
        }

        // styling for languages, systems, design, and skills classes

        div {
            flex-shrink: 1;
            word-wrap: break-word;
            padding: 10px;
        }

        h3,
        h4 {
            font-family: 'EB Garamond', serif;
            font-size: 2em;
        }

        li,
        p,
        a {
            color: white;
            font-family: 'Montserrat', sans-serif;
            font-size: 1.5em;
            font-weight: bold;
            list-style: none;
        }

        hr {
            border: 0;
            height: 1px;
            width: 50%;
            color: white;
            background: #333;
            background-image: linear-gradient(to right, #3d9e9e, white, #3d9e9e);
        }

    }
}

@media(max-width: 900px) {
    .left-top {
        display: block;
    }

    .left {
        display: none;
    }
}

@media(min-width: 901px) {
    .left-top {
        display: none;
    }

    .left {
        display: flex;
    }
}